In [15]:
import pandas as pd
from nba_api.stats.endpoints import playercareerstats, playerindex, commonplayerinfo, commonteamroster,teamyearbyyearstats, cumestatsteamgames,teamdetails,cumestatsteam
from nba_api.stats.static import players, teams
import numpy as np
import time
pd.set_option('display.max_columns', None)

In [30]:
working_dir = '~/MIDS_209/team_stats/'

In [22]:
len(teams.get_teams())

30

In [24]:
all_teams = teams.get_teams()
all_teams[0]

{'id': 1610612737,
 'full_name': 'Atlanta Hawks',
 'abbreviation': 'ATL',
 'nickname': 'Hawks',
 'city': 'Atlanta',
 'state': 'Georgia',
 'year_founded': 1949}

In [25]:
all_team_ids = [d['id'] for d in all_teams]

In [5]:
details = teamdetails.TeamDetails(1610612737)

In [26]:
all_team_ids

[1610612737,
 1610612738,
 1610612739,
 1610612740,
 1610612741,
 1610612742,
 1610612743,
 1610612744,
 1610612745,
 1610612746,
 1610612747,
 1610612748,
 1610612749,
 1610612750,
 1610612751,
 1610612752,
 1610612753,
 1610612754,
 1610612755,
 1610612756,
 1610612757,
 1610612758,
 1610612759,
 1610612760,
 1610612761,
 1610612762,
 1610612763,
 1610612764,
 1610612765,
 1610612766]

In [6]:
details

In [35]:
seen = set()

In [31]:
df_bulls = teamyearbyyearstats.TeamYearByYearStats(team_id=1610612741).get_data_frames()[0]

In [34]:
df_bulls.to_csv(working_dir + '1610612741.csv', index=False)

In [36]:
seen.add(1610612741)

In [42]:
def export_team(team_id):
    print("exporting team " + str(team_id))
    df = teamyearbyyearstats.TeamYearByYearStats(team_id=team_id).get_data_frames()[0]
    df.to_csv(working_dir + str(team_id) + '.csv', index=False)
    seen.add(team_id)

In [43]:
for team in all_team_ids:
    if team in seen:
        continue
    export_team(team)
print("finished")

exporting team 1610612737
exporting team 1610612738
exporting team 1610612739
exporting team 1610612740
exporting team 1610612742
exporting team 1610612743
exporting team 1610612744
exporting team 1610612745
exporting team 1610612746
exporting team 1610612747
exporting team 1610612748
exporting team 1610612749
exporting team 1610612750
exporting team 1610612751
exporting team 1610612752
exporting team 1610612753
exporting team 1610612754
exporting team 1610612755
exporting team 1610612756
exporting team 1610612757
exporting team 1610612758
exporting team 1610612759
exporting team 1610612760
exporting team 1610612761
exporting team 1610612762
exporting team 1610612763
exporting team 1610612764
exporting team 1610612765
exporting team 1610612766
finished

In [14]:
cumestatsteamgames.CumeStatsTeamGames(team_id=1610612741).get_dict()

{'resource': 'cumestatsteamgames',
 'parameters': {'LeagueID': '00',
  'SeasonID': '2023-24',
  'SeasonType': 'Regular Season',
  'TeamID': 1610612741,
  'Location': None,
  'Outcome': None,
  'VsTeamID': None,
  'VsDivision': None,
  'VsConference': None},
 'resultSets': [{'name': 'CumeStatsTeamGames',
   'headers': ['MATCHUP', 'GAME_ID'],
   'rowSet': [['04/01/2024 Hawks at Bulls', '0022301091'],
    ['03/31/2024 Bulls at Timberwolves', '0022301084'],
    ['03/29/2024 Bulls at Nets', '0022301066'],
    ['03/27/2024 Pacers at Bulls', '0022301054'],
    ['03/25/2024 Wizards at Bulls', '0022301037'],
    ['03/23/2024 Celtics at Bulls', '0022301023'],
    ['03/21/2024 Bulls at Rockets', '0022301006'],
    ['03/18/2024 Trail Blazers at Bulls', '0022300986'],
    ['03/16/2024 Wizards at Bulls', '0022300971'],
    ['03/14/2024 Clippers at Bulls', '0022300956'],
    ['03/13/2024 Bulls at Pacers', '0022300948'],
    ['03/11/2024 Mavericks at Bulls', '0022300935'],
    ['03/09/2024 Bulls at Clippers', '0022300917'],
    ['03/07/2024 Bulls at Warriors', '0022300907'],
    ['03/06/2024 Bulls at Jazz', '0022300898'],
    ['03/04/2024 Bulls at Kings', '0022300883'],
    ['03/01/2024 Bucks at Bulls', '0022300864'],
    ['02/28/2024 Cavaliers at Bulls', '0022300846'],
    ['02/27/2024 Pistons at Bulls', '0022300839'],
    ['02/25/2024 Bulls at Pelicans', '0022300823'],
    ['02/22/2024 Celtics at Bulls', '0022300797'],
    ['02/14/2024 Bulls at Cavaliers', '0022300781'],
    ['02/12/2024 Bulls at Hawks', '0022300763'],
    ['02/10/2024 Bulls at Magic', '0022300752'],
    ['02/08/2024 Bulls at Grizzlies', '0022300737'],
    ['02/06/2024 Timberwolves at Bulls', '0022300723'],
    ['02/03/2024 Kings at Bulls', '0022300700'],
    ['01/31/2024 Bulls at Hornets', '0022300674'],
    ['01/30/2024 Raptors at Bulls', '0022300672'],
    ['01/28/2024 Bulls at Trail Blazers', '0022300656'],
    ['01/25/2024 Bulls at Lakers', '0022300633'],
    ['01/22/2024 Bulls at Suns', '0022300612'],
    ['01/20/2024 Grizzlies at Bulls', '0022300597'],
    ['01/18/2024 Bulls at Raptors', '0022300580'],
    ['01/15/2024 Bulls at Cavaliers', '0022300561'],
    ['01/13/2024 Bulls at Spurs', '0022300548'],
    ['01/12/2024 Warriors at Bulls', '0022300536'],
    ['01/10/2024 Rockets at Bulls', '0022300523'],
    ['01/08/2024 Bulls at Hornets', '0022300506'],
    ['01/05/2024 Hornets at Bulls', '0022300484'],
    ['01/03/2024 Bulls at Knicks', '0022300468'],
    ['01/02/2024 Bulls at 76ers', '0022300459'],
    ['12/30/2023 76ers at Bulls', '0022300442'],
    ['12/28/2023 Pacers at Bulls', '0022300422'],
    ['12/26/2023 Hawks at Bulls', '0022300408'],
    ['12/23/2023 Cavaliers at Bulls', '0022300396'],
    ['12/21/2023 Spurs at Bulls', '0022300376'],
    ['12/20/2023 Lakers at Bulls', '0022300370'],
    ['12/18/2023 Bulls at 76ers', '0022300351'],
    ['12/16/2023 Bulls at Heat', '0022300337'],
    ['12/14/2023 Bulls at Heat', '0022300320'],
    ['12/12/2023 Nuggets at Bulls', '0022300307'],
    ['12/11/2023 Bulls at Bucks', '0022300300'],
    ['12/08/2023 Bulls at Spurs', '0022301223'],
    ['12/06/2023 Hornets at Bulls', '0022301211'],
    ['12/02/2023 Pelicans at Bulls', '0022300285'],
    ['11/30/2023 Bucks at Bulls', '0022300269'],
    ['11/28/2023 Bulls at Celtics', '0022300053'],
    ['11/26/2023 Bulls at Nets', '0022300250'],
    ['11/24/2023 Bulls at Raptors', '0022300046'],
    ['11/22/2023 Bulls at Thunder', '0022300234'],
    ['11/20/2023 Heat at Bulls', '0022300220'],
    ['11/18/2023 Heat at Bulls', '0022300204'],
    ['11/17/2023 Magic at Bulls', '0022300033'],
    ['11/15/2023 Magic at Bulls', '0022300196'],
    ['11/13/2023 Bulls at Bucks', '0022300190'],
    ['11/12/2023 Pistons at Bulls', '0022300181'],
    ['11/08/2023 Suns at Bulls', '0022300162'],
    ['11/06/2023 Jazz at Bulls', '0022300152'],
    ['11/04/2023 Bulls at Nuggets', '0022300139'],
    ['11/03/2023 Nets at Bulls', '0022300004'],
    ['11/01/2023 Bulls at Mavericks', '0022300124'],
    ['10/30/2023 Bulls at Pacers', '0022300102'],
    ['10/28/2023 Bulls at Pistons', '0022300088'],
    ['10/27/2023 Raptors at Bulls', '0022300082'],
    ['10/25/2023 Thunder at Bulls', '0022300070']]}]}

In [46]:
def read_df(team_id):
    path = working_dir + str(team_id) + '.csv'
    return pd.read_csv(path)

In [47]:
dfs = []
for team_id in all_team_ids:
    dfs.append(read_df(team_id))

final_df = pd.concat(dfs, ignore_index=True)
final_df.head()

,TEAM_ID,TEAM_CITY,TEAM_NAME,YEAR,GP,WINS,LOSSES,WIN_PCT,CONF_RANK,DIV_RANK,PO_WINS,PO_LOSSES,CONF_COUNT,DIV_COUNT,NBA_FINALS_APPEARANCE,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,PF,STL,TOV,BLK,PTS,PTS_RANK
0,1610612737,Tri-Cities,Blackhawks,1949-50,64,29,35,0.453,0,3,1,2,NaN,6,NaN,1818,0,0.0,0,0,0.0,0,2308,0.727,0,0,0,1330,2057,0,0,0,5313,10
1,1610612737,Tri-Cities,Blackhawks,1950-51,68,25,43,0.368,0,5,0,0,NaN,5,NaN,1988,0,0.0,0,0,0.0,0,2425,0.723,0,0,0,1476,2092,0,0,0,5730,3
2,1610612737,Milwaukee,Hawks,1951-52,66,17,49,0.258,0,5,0,0,NaN,6,NaN,1674,0,0.0,0,0,0.0,0,2177,0.682,0,0,0,1229,1848,0,0,0,4833,10
3,1610612737,Milwaukee,Hawks,1952-53,71,27,44,0.380,0,5,0,0,NaN,5,NaN,1873,0,0.0,0,0,0.0,0,2400,0.685,0,0,0,1427,2120,0,0,0,5389,9
4,1610612737,Milwaukee,Hawks,1953-54,72,21,51,0.292,0,4,0,0,NaN,4,NaN,1757,0,0.0,0,0,0.0,0,2205,0.691,0,0,0,1298,1771,0,0,0,5038,9

In [48]:
final_df

,TEAM_ID,TEAM_CITY,TEAM_NAME,YEAR,GP,WINS,LOSSES,WIN_PCT,CONF_RANK,DIV_RANK,PO_WINS,PO_LOSSES,CONF_COUNT,DIV_COUNT,NBA_FINALS_APPEARANCE,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,PF,STL,TOV,BLK,PTS,PTS_RANK
0,1610612737,Tri-Cities,Blackhawks,1949-50,64,29,35,0.453,0,3,1,2,NaN,6,NaN,1818,0,0.000,0,0,0.000,0,2308,0.727,0,0,0,1330,2057,0,0,0,5313,10
1,1610612737,Tri-Cities,Blackhawks,1950-51,68,25,43,0.368,0,5,0,0,NaN,5,NaN,1988,0,0.000,0,0,0.000,0,2425,0.723,0,0,0,1476,2092,0,0,0,5730,3
2,1610612737,Milwaukee,Hawks,1951-52,66,17,49,0.258,0,5,0,0,NaN,6,NaN,1674,0,0.000,0,0,0.000,0,2177,0.682,0,0,0,1229,1848,0,0,0,4833,10
3,1610612737,Milwaukee,Hawks,1952-53,71,27,44,0.380,0,5,0,0,NaN,5,NaN,1873,0,0.000,0,0,0.000,0,2400,0.685,0,0,0,1427,2120,0,0,0,5389,9
4,1610612737,Milwaukee,Hawks,1953-54,72,21,51,0.292,0,4,0,0,NaN,4,NaN,1757,0,0.000,0,0,0.000,0,2205,0.691,0,0,0,1298,1771,0,0,0,5038,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1622,1610612766,Charlotte,Hornets,2019-20,65,23,42,0.354,10,4,0,0,15.0,5,NaN,2425,5586,0.434,785,2231,0.352,1052,1406,0.748,715,2066,2781,1549,1223,428,949,268,6687,30
1623,1610612766,Charlotte,Hornets,2020-21,72,33,39,0.458,0,0,0,0,15.0,5,NaN,2875,6324,0.455,985,2666,0.369,1146,1505,0.761,762,2389,3151,1933,1298,565,1069,344,7881,23
1624,1610612766,Charlotte,Hornets,2021-22,82,43,39,0.524,10,3,0,0,15.0,5,NaN,3508,7497,0.468,1143,3130,0.365,1298,1753,0.740,888,2767,3655,2302,1629,707,1087,402,9457,4
1625,1610612766,Charlotte,Hornets,2022-23,82,27,55,0.329,14,5,0,0,15.0,5,NaN,3385,7413,0.457,881,2669,0.330,1447,1933,0.749,901,2751,3652,2062,1661,634,1164,425,9098,27
1626,1610612766,Charlotte,Hornets,2023-24,76,18,58,0.237,13,4,0,0,15.0,5,NaN,3036,6643,0.457,899,2575,0.349,1090,1399,0.779,727,2352,3079,1870,1376,512,1035,337,8061,29

In [51]:
final_df.to_csv(working_dir+'final.csv', index=False)

In [57]:
filtered_final_df= final_df[final_df['YEAR'] >= '2000']

In [58]:
filtered_final_df.to_csv(working_dir+'filtered_final.csv', index=False)